name: Publish to Nexus and PyPI

on:
  push:
    tags:
      - 'v*'

jobs:
  build-n-publish:
    runs-on: ubuntu-latest
    # Added permissions for the official OIDC PyPI authentication
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build package
        run: python -m build

      - name: Upload to Private Nexus
        env:
          TWINE_USERNAME: ${{ secrets.CANGLING_REPO_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.CANGLING_REPO_PASSWORD }}
          TWINE_REPOSITORY_URL: https://repository.cangling.cn:22002/repository/cangling-py/
        run: |
          # The --skip-existing flag is helpful to prevent failure if the version already exists
          twine upload --skip-existing --repository-url $TWINE_REPOSITORY_URL dist/*

      - name: Upload to Official PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          # This uses the API token you generated on PyPI
          password: ${{ secrets.PYPI_API_TOKEN }}