name: Publish to Nexus

on:
  push:
    tags:
      - 'v*' # Trigger only when you push a tag like v0.1.0

jobs:
  build-n-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build package
        run: python -m build

      - name: Upload to Nexus
        env:
          TWINE_USERNAME: ${{ secrets.CANGLING_REPO_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.CANGLING_REPO_PASSWORD }}
          # Use your specific repository URL here
          TWINE_REPOSITORY_URL: https://repository.cangling.cn:22002/repository/cangling-py/
        run: |
          twine upload --repository-url $TWINE_REPOSITORY_URL dist/*